.dark {
  --color-primary: rgb(170 199 255);
  --color-surface-tint: rgb(170 199 255);
  --color-on-primary: rgb(11 48 95);
  --color-primary-container: rgb(40 71 119);
  --color-on-primary-container: rgb(215 227 255);
  --color-secondary: rgb(190 198 220);
  --color-on-secondary: rgb(40 49 65);
  --color-secondary-container: rgb(62 71 89);
  --color-on-secondary-container: rgb(218 226 249);
  --color-tertiary: rgb(221 188 224);
  --color-on-tertiary: rgb(63 40 68);
  --color-tertiary-container: rgb(87 62 92);
  --color-on-tertiary-container: rgb(250 216 253);
  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);
  --color-background: rgb(17 19 24);
  --color-on-background: rgb(226 226 233);
  --color-surface: rgb(17 19 24);
  --color-on-surface: rgb(226 226 233);
  --color-surface-variant: rgb(68 71 78);
  --color-on-surface-variant: rgb(196 198 208);
  --color-outline: rgb(142 144 153);
  --color-outline-variant: rgb(68 71 78);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(226 226 233);
  --color-inverse-on-surface: rgb(46 48 54);
  --color-inverse-primary: rgb(65 95 145);
  --color-primary-fixed: rgb(215 227 255);
  --color-on-primary-fixed: rgb(0 27 62);
  --color-primary-fixed-dim: rgb(170 199 255);
  --color-on-primary-fixed-variant: rgb(40 71 119);
  --color-secondary-fixed: rgb(218 226 249);
  --color-on-secondary-fixed: rgb(19 28 43);
  --color-secondary-fixed-dim: rgb(190 198 220);
  --color-on-secondary-fixed-variant: rgb(62 71 89);
  --color-tertiary-fixed: rgb(250 216 253);
  --color-on-tertiary-fixed: rgb(40 19 46);
  --color-tertiary-fixed-dim: rgb(221 188 224);
  --color-on-tertiary-fixed-variant: rgb(87 62 92);
  --color-surface-dim: rgb(17 19 24);
  --color-surface-bright: rgb(55 57 62);
  --color-surface-container-lowest: rgb(12 14 19);
  --color-surface-container-low: rgb(25 28 32);
  --color-surface-container: rgb(30 32 37);
  --color-surface-container-high: rgb(40 42 47);
  --color-surface-container-highest: rgb(51 53 58);
}
