.light-medium-contrast {
  --color-primary: rgb(19 54 101);
  --color-surface-tint: rgb(65 95 145);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(80 109 160);
  --color-on-primary-container: rgb(255 255 255);
  --color-secondary: rgb(46 54 71);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(100 109 128);
  --color-on-secondary-container: rgb(255 255 255);
  --color-tertiary: rgb(69 46 74);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(127 100 132);
  --color-on-tertiary-container: rgb(255 255 255);
  --color-error: rgb(116 0 6);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(207 44 39);
  --color-on-error-container: rgb(255 255 255);
  --color-background: rgb(249 249 255);
  --color-on-background: rgb(25 28 32);
  --color-surface: rgb(249 249 255);
  --color-on-surface: rgb(15 17 22);
  --color-surface-variant: rgb(224 226 236);
  --color-on-surface-variant: rgb(51 54 62);
  --color-outline: rgb(79 82 90);
  --color-outline-variant: rgb(106 109 117);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(46 48 54);
  --color-inverse-on-surface: rgb(240 240 247);
  --color-inverse-primary: rgb(170 199 255);
  --color-primary-fixed: rgb(80 109 160);
  --color-on-primary-fixed: rgb(255 255 255);
  --color-primary-fixed-dim: rgb(55 85 134);
  --color-on-primary-fixed-variant: rgb(255 255 255);
  --color-secondary-fixed: rgb(100 109 128);
  --color-on-secondary-fixed: rgb(255 255 255);
  --color-secondary-fixed-dim: rgb(76 85 103);
  --color-on-secondary-fixed-variant: rgb(255 255 255);
  --color-tertiary-fixed: rgb(127 100 132);
  --color-on-tertiary-fixed: rgb(255 255 255);
  --color-tertiary-fixed-dim: rgb(102 76 106);
  --color-on-tertiary-fixed-variant: rgb(255 255 255);
  --color-surface-dim: rgb(197 198 205);
  --color-surface-bright: rgb(249 249 255);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(243 243 250);
  --color-surface-container: rgb(231 232 238);
  --color-surface-container-high: rgb(220 220 227);
  --color-surface-container-highest: rgb(209 209 216);
}
